/* Sidebar Header */
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: #fff;
  height: 60px;
}

/* Sidebar Logo */
.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}

/* Default logo image */
.logo-img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 0;
  transition: all 0.3s ease;
}

/* Logo Text */
.logo-text {
  font-weight: bold;
  font-size: 1.2em;
  transition: all 0.3s ease;
}

/* Toggle button */
.toggle-btn {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  display: block;
}

.toggle-btn.collapsed {
  font-size: 20px;
}

.toggle-btn:hover {
  color: #1890ff;
}

/* Profile Section */
.profile {
  position: absolute;
  bottom: 10px; /* Adjusted to keep it within the view */
  left: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #fff;
}

.profile-text,
.profile-icon {
  color: black;
  transition: color 0.3s ease;
}

.profile-text:hover,
.profile-icon:hover {
  color: #1890ff;
}

.profile span {
  margin-left: 10px;
}

/* Menu Items */
.menu ul {
  list-style: none;
  padding-left: 0;
}

.menu ul li {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.menu ul li:hover {
  background-color: #444444;
}

.menu-item {
  margin-left: 10px;
  display: inline-block;
  transition: opacity 0.3s;
}

.sidebar.collapsed .menu-item {
  opacity: 0;
}

.sidebar.collapsed .logo,
.sidebar.collapsed .profile-text {
  display: none;
}

.sidebar.collapsed .logo-text {
  display: none;
}

.sidebar .toggle-btn {
  display: none;
}

.sidebar.collapsed .toggle-btn {
  display: block;
}

/* Welcome Section */
.welcome-container {
  text-align: center;
  margin: 20px 0;
  color: #fff;
}

.welcome-text {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  color: #ffffff;
}

.welcome-text .username {
  color: #16423c;
  text-shadow: 0px 0px 5px #ffffff;
  font-style: italic;
  transition: all 0.3s ease-in-out;
}

.welcome-text .username:hover {
  color: #ffc107;
  text-shadow: 0px 0px 10px #ffc107;
  transform: scale(1.1);
}

/* Ensure Sidebar Takes Full Height of the Screen */
.sidebar {
  height: 90vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
}

.menu {
  flex-grow: 1; /* Ensures the menu fills available space */
}

/* Adjust Profile and Menu to Fit */
.profile {
  position: absolute;
  bottom: 20px; /* Ensure it's at the bottom of the sidebar */
}
